<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <display-name>FireStock</display-name>
  <welcome-file-list>
  
    <welcome-file>home.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
  	<servlet-name>UserRegisterServlet</servlet-name>
  	<servlet-class>controller.UserRegisterServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>UserRegisterServlet</servlet-name>
  	<url-pattern>/register</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>UserLoginServlet</servlet-name>
  	<servlet-class>controller.UserLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>UserLoginServlet</servlet-name>
  	<url-pattern>/login</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>UserLogoutServlet</servlet-name>
  	<servlet-class>controller.UserLogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>UserLogoutServlet</servlet-name>
  	<url-pattern>/logout</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>RequestServlet</servlet-name>
  	<servlet-class>controller.RequestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>RequestServlet</servlet-name>
  	<url-pattern>/request</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>NewPostServlet</servlet-name>
  	<servlet-class>controller.NewPostServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>NewPostServlet</servlet-name>
  	<url-pattern>/newPost</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>EdittingPostServlet</servlet-name>
  	<servlet-class>controller.EdittingPostServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>EdittingPostServlet</servlet-name>
  	<url-pattern>/edittingPost</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>EditDonationServlet</servlet-name>
  	<servlet-class>controller.EditDonationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>EditDonationServlet</servlet-name>
  	<url-pattern>/editDonation</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>UpdateDonationServlet</servlet-name>
  	<servlet-class>controller.UpdateDonationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>UpdateDonationServlet</servlet-name>
  	<url-pattern>/updateDonation</url-pattern>
  </servlet-mapping>
</web-app>